:root {

    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    

    --open: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    
    
    --poppins-weight: 600;
    --regular: 400;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: var(--open);
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    background: url('./images/bg-hero-desktop.svg') var(--very-pale-cyan);
    padding: 58px 80px 70px 80px;
    margin-bottom: 160px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

header #header-logo img {
    width: 200px;
}

header nav button {
    color: var(--very-dark-cyan);
    width: 200px;
    padding: 0.74rem;
    border: none;
    border-radius: 32px;
    box-shadow: 0px 3px 6px #ccc;
    background-color: white;
    font-family: var(--poppins);
    font-weight: var(--poppins-weight);
    font-size: 0.82rem;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
}

header nav button:hover {
    color: rgb(92, 89, 89);
    opacity: 0.8;
}

#header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-main #header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#header-main #header-content h1 {
    font-family: var(--poppins);
    font-weight: var(--poppins-weight);
    color: var(--very-dark-cyan);
    font-size: 2.24rem;    
    width: 80%;
    margin-bottom: 18px;
}

#header-main #header-content p {
    width: 86%;
    color: var(--very-dark-cyan);
    font-weight: var(--regular);
    margin-bottom: 33px;
    line-height: 1.4;
}

#header-main #header-content button {
    font-family: var(--open);
    font-weight: var(--bold);
    font-size: 0.8rem;
    width: 278px;
    background-color: var(--pink);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 32px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
}

#header-main #header-content button:hover {
    opacity: 0.6;
}

#header-main #header-image img {
    width: 680px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 86%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 38px 54px 38px;
    border-radius: 18px;
    box-shadow: #eee 0px 0px 8px 0px, #eee 0px 0px 4px 0px;
}

main section .section-text {
    margin-left: 80px;
}

main section .section-text h2 {
    color: var(--very-dark-cyan);
    font-weight: bold;
    margin-bottom: 10px;
}

main section .section-text p {
    color: var(--grayish-blue);
    line-height: 1.6;
    width: 74%;
}

main section .section-image img {
    width: 408px;
}

#flowing-conversations .section-text {
    order: 2;
    margin-left: 164px;
}

#flowing-conversations .section-text p {
    width: 100%;
}

#flowing-conversations .section-image {
    margin-left: 80px;
    order: 1;
}

#your-users {
    margin-bottom: 348px;
}

#ready-to-build {
    position: absolute;
    margin-top: -174px;
    left: 50%;
    transform: translate(-50%);
    width: 55.6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 54px 38px 54px 38px;
    border-radius: 18px;
    box-shadow: #ccc 0px -2px 6px 0px, #ccc 0px -2px 1px 0px;
}

#ready-to-build h2 {
    font-size: 1.8rem;
    margin-bottom: 42px;
    color: var(--very-dark-cyan);
    text-align: center;
}

#ready-to-build button {
    font-family: var(--open);
    font-weight: var(--bold);
    font-size: 1.1rem;
    width: 400px;
    background-color: var(--pink);
    color: white;
    border: none;
    padding: 1.44rem;
    border-radius: 46px;
    box-shadow: 1px 2px 6px #ccc;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
}

#ready-to-build button:hover {
    opacity: 0.6;
}

footer {
    background-color: var(--very-dark-cyan);
    padding: 194px 80px 62px 80px;
    display: flex;
    flex-direction: column;
    color: var(--very-pale-cyan);
}

#footer-logo {
    margin-bottom: 2rem;
}

#footer-logo img {
    filter: brightness(0) invert(1);
}

#footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact-info {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
}

#contact-info div {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}

#contact-info div span {
    font-size: 0.9rem;
}

#contact-info img {
    margin-right: 2rem;
}

#footer-contact ul {
    display: flex;
    flex-direction: column;
}

#footer-contact ul li {
    list-style-type: none;
    margin-bottom: 1rem;
}

#footer-contact ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: var(--regular);
    transition: all 300ms ease;
    color: white;
}


#footer-contact ul li a:hover {
    text-decoration: underline;
}

#social-media button {
    background: transparent;
    color: white;
    font-size: 0.8rem;
    border: 1px solid white;
    padding: 0.30rem;
    border-radius: 50%;
    width: 30px;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 300ms ease;
}

#social-media button:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
}

#social-media button:last-child {
    margin-right: 0;
}

#social-media p {
    font-size: 0.72rem;
    margin-top: 178px;
}

@media (max-width: 1220px) {
    #header-main #header-content h1 {
        width: 100%;
    }
    
    #header-main #header-content p {
        width: 100%;
    }
    
    #header-main #header-content button {
        width: 278px;
    }
    
    #header-main #header-image img {
        width: 480px;
    }

    #flowing-conversations .section-text {
        margin-left: 64px;
    }

    #ready-to-build {
        margin-top: -166px;
        width: 614px;
    }
    
}

@media (max-width: 980px) {

    #header-main #header-content {
        margin-right: 60px;
    }

    #header-main #header-content h1 {
        font-size: 1.6rem;
    }

    #header-main #header-content p {
        font-size: 0.9rem;
    }
    
    #header-main #header-image img {
        width: 100%;
    }
    
    main section .section-text {
        width: 100%;
        margin-left: 0;
    }

    main section .section-text h2 {
        margin-bottom: 14px;
    }

    main section .section-image img {
        width: 260px;
    }

    #flowing-conversations .section-image {
        margin-left: 0;
    }
    
    #ready-to-build h2 {
        font-size: 1.4rem;
    }

    #footer-contact {
        flex-direction: column;
    }

    #contact-info {
        margin-bottom: 132px;
    }

    #social-media {
        margin-top: 118px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #social-media button {
        padding: 0.32rem;
        width: 30px;
        margin-right: 0.6rem;
    }

    #social-media p {
        font-size: 0.72rem;
        margin-top: 50px;
    }

}

@media (max-width: 750px) {

    header {
        background: url('./images/bg-hero-mobile.svg') var(--very-pale-cyan);
        padding: 56px 34px 42px 34px;
        margin-bottom: 122px;
    }

    header #header-logo img {
        width: 120px;
    }

    header nav button {
        width: 100px;
        padding: 0.34rem;
        font-size: 0.62rem;
    }

    #header-main {
        flex-direction: column;
    }

    #header-main #header-content {
        align-items: center;
        margin-right: 0;
        margin-bottom: 112px;

    }

    #header-main #header-content h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    #header-main #header-content p {
        text-align: center;
    }

    #header-main #header-content button {
        font-size: 0.8rem;
        width: 252px;
        padding: 0.8rem;
    }

    main section {
        width: 90%;
        flex-direction: column;
        padding: 48px 36px 48px 36px;
    }

    main section .section-text {
        order: 2;
    }

    main section .section-image {
        order: 1;
        margin-bottom: 60px;
    }

    main section .section-text h2, 
    main section .section-text p {
        width: 100%;
        text-align: center;
    } 

    main section .section-text h2 {
        font-size: 1.2rem;
    }

    main section .section-text p {
        font-size: 0.8rem;
    }

    #flowing-conversations .section-text {
        margin-left: 0;
    }

    #your-users {
        margin-bottom: 208px;
    }

    #ready-to-build {
        margin-top: -108px;
        width: 380px;
        padding: 42px 10px 42px 10px;
    }

    #ready-to-build h2 {
        font-size: 1.2rem;
        margin-bottom: 24px;
    }

    #ready-to-build button {
        font-size: 0.72rem;
        width: 202px;
        padding: 0.8rem;
    }

    footer {
        padding: 164px 30px 42px 30px;
    }

    #footer-logo img {
        width: 168px;
    }
    
    #contact-info {
        margin-bottom: 62px;
    }

    #contact-info div span {
        font-size: 0.82rem;
    }

    #footer-contact ul li a {
        font-size: 0.82rem;
    }

    #social-media {
        margin-top: 48px;
    }

    #social-media p {
        margin-top: 28px;
    }

}

@media (max-width: 400px) {
    #ready-to-build {
        margin-top: -108px;
        width: 326px;
    }

    #ready-to-build h2 {
        font-size: 0.92rem;
        margin-bottom: 24px;
    }
}

@media (max-width: 350px) {
    header nav {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 46px;
    }

    header #header-logo img {
        width: 180px;
    }

    header nav button {
        margin-top: 28px;
        width: 180px;
        padding: 0.64rem;
        font-size: 0.72rem;
    }

    #ready-to-build {
        margin-top: -106px;
        width: 260px;
    }

    #ready-to-build h2 {
        font-size: 0.80rem;
        margin-bottom: 24px;
    }

    
}